:host {

  $arrowButtonWidth: 48px;
  p-carousel::ng-deep {
    .ui-carousel {

      &-content {
        overflow: hidden
      }

      &-item {
        overflow: visible;
      }

      &-item-active {
        z-index: 100;
      }

      &-items-content {
        margin: 16px auto;
        min-height: $arrowButtonWidth;
        box-shadow: -2px 2px 7px #DEDEDE;
        overflow: initial;
      }

      &-items-container {
        min-height: 100%;
      }

      &-next-icon, &-prev-icon {
        &:hover {

          transform: scale(1.5);
        }
      }

      // Zeroing 3th party styles;
      &-next, &-prev {
        position: absolute;
        border: none;
        background: white;
        width: $arrowButtonWidth;
        height: $arrowButtonWidth;
        margin: 0;
        border-radius: 0;

        &:hover {
          background-color: white !important;
          box-shadow: none !important;
        }
        &:enabled:focus {
          box-shadow: none !important;
        }
      }

      &-prev {
        left: 0;
      }

      &-next {
        right: $arrowButtonWidth;
      }

      &-dots-container {
        display: none;
      }
    }
  }


  @media screen and (max-width: 575px) {

  }
}


