<p-carousel [value]="portfolios" [numVisible]="5">
  <ng-template let-car pTemplate="item">
    Content to display
  </ng-template>
</p-carousel>


<!--<mat-carousel-->
<!--  [autoplay]="false"-->
<!--  [hideArrows]="false"-->
<!--  [color]="'#ffffff'"-->
<!--  [maxWidth]="'100%'"-->
<!--  [useKeyboard]="true"-->
<!--&gt;-->

<!--  <mat-carousel-slide-->
<!--    *ngFor="let item of portfolios"-->
<!--    [overlayColor]="'#ffffff'"-->
<!--    [hideOverlay]="false"-->
<!--  >-->
<!--    <div>{{ item?.title }}</div>-->
<!--    <div>{{ item?.content }}</div>-->
<!--  </mat-carousel-slide>-->

<!--</mat-carousel>-->
