:host {

  p-carousel::ng-deep {
    .ui-carousel {

      &-content {

      }

      &-items-content {
        margin: 16px auto;
        min-height: 48px;
        box-shadow:
          -2px 2px 7px #DEDEDE,
          inset 0px -1px 6px rgba(166, 166, 166, 0.3)
      }

      &-items-container {
        min-height: 100%;
      }

      &-next-icon, &-prev-icon {
        &:hover {
          transform: scale(1.5);
        }
      }







      // Zeroing 3th party styles;
      &-next, &-prev {
        border: none;
        background: none;
        &:hover {
          background-color: initial !important;
          box-shadow: none !important;
        }
        &:enabled:focus {
          box-shadow: none !important;
        }
      }


      &-dots-container {
        display: none;
      }
    }
  }


  .portfolio-content, .no-content {
    width: 100%;
    padding: 1em 3.5em;
  }


  @media screen and (max-width: 575px) {

  }
}


