<app-toolbar></app-toolbar>

<div class="content" role="main">

  <app-user-content [title]="title">

    <app-custom-carousel></app-custom-carousel>


    <div class="portfolio-content">
      <ng-container *ngIf="portfolio | async; else notSelected">
        <div class="portfolio-content__text" *ngIf="(portfolio | async).content; else noContent">
          {{ (portfolio | async).content }}
        </div>
        <ng-template #noContent>
          <span class="no-content">'{{ (portfolio | async).title }}' portfolio has no content</span>
        </ng-template>
      </ng-container>

      <ng-template #notSelected>No one item was selected</ng-template>
    </div>


  </app-user-content>


  <app-footer-emblem></app-footer-emblem>
</div>
