<app-toolbar></app-toolbar>

<div class="content" role="main">

  <app-user-content [title]="title">

    <app-custom-carousel></app-custom-carousel>



    <ng-container *ngIf="selectedPortfolio">
      <div class="portfolio-content" *ngIf="selectedPortfolio.content; else noContent">
        {{ selectedPortfolio.content }}
      </div>
      <ng-template #noContent>
        <span class="no-content">'{{ selectedPortfolio.title }}' portfolio has no content</span>
      </ng-template>
    </ng-container>


  </app-user-content>


  <app-footer-emblem></app-footer-emblem>
</div>
