:host {

  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: visible;

  $itemColor: white;
  $selectedColor: #e67300;

  .back-overlay {
    height: 100%;
    background: $selectedColor;
  }

  .custom-carousel-item {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    bottom: 0;
    z-index: 10;
    border: 0.5px solid $itemColor;
    background: $itemColor;
    color: rgba(0,0,0,0.7);

    &:hover {
      background: whitesmoke;
      cursor: pointer;
    }

    &.selected {
      border-color: gray;
      border-bottom: none;
      background: $itemColor;
      transform: translateY(-4px);
      transition: transform 255ms ease-out;
      &:hover {
        background: $itemColor;
      }

      .custom-carousel-item {
        border: 0.5px solid darkgray;

        &__title {
          font-size: 14px;
          font-weight: 600;
        }

        &__client{
          color: $selectedColor;
        }
      }

    }


    &__title {
      text-align: center;
      padding: 4px;
      margin-bottom: auto;
      font-size: 13px;
      font-weight: normal;
    }

    &__client {
      display: flex;
      justify-content: space-around;
      text-align: center;
      font-size: 12px;
      font-weight: 400;
      color: darkgray;
    }
  }

  img {
    width: 16px;
    height: 16px;
  }

  .dots {
    padding: 0 3px;
  }
}


